<!DOCTYPE html>
<html>
    <head>
        <title>Albert Einstein</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <div class="bloco">
            <div><b>Nome:</b> {{nome}}</div>
            <div><b>Idade:</b> {{idade}}</div>
            <div><b>Nascimento:</b> {{cidade}}</div>
        
            <div class="imagem">
                {% if estado == "doido" %}
                <img src="{{imagem1}}" height="200px" alt="Einstein1">
                {% elif estado == "pensativo" %}
                <img src="{{imagem2}}" height="200px" alt="Einstein2"> 
                {% else %}
                <img src="{{imagem3}}" height="200px" alt="Einstein3">
                {% endif %}
            </div>
            <div class="estado">Betão tá {{estado}}!</div>
        </div>
    </body>
</html>