<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>BlueEdTech</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <div class="titulo">
            <a href="https://blueedtech.com.br/"><img src="/static/logo-blue-croped.gif" height="30px">
            </a><h2>BlueEdTech</h2>
        </div>

        <div class="bloco">
            <div class="titulo_bloco">
                <h2>Módulo 2 - Web, Cloud e Database</h2>
            </div>
            <div class="conteudo">
                <div class="agenda">
                 
                    <h4>Agenda de hoje</h4>
                    <ul>
                        <li>Introdução ao desenvolvimento web</li>
                        <li>Estrutura HTML</li>
                        <li>Layout de páginas com CSS</li>
                    </ul>
                </div>

                <div class="lista">
                    
                    <h4>Lista de Presença</h4>
                    <table>
                        <tr>
                            <th>Aluno</th>
                            <th>Presente?</th>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Eduardo</td>
                            <td>Sim</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Zé</td>
                            <td>Sim</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Jão</td>
                            <td>Sim</td>
                        </tr>
                    </table>
                </div>
            </div>
            
        </div>
            
    </body>
</html>