<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estatísticas Formula 1</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    {% include 'header.html' %}

    <div class="bloco">
        <h2>Visualizar todos os registros</h2>
    </div>

    <div class="bloco">
        <table class="tabela"> 
            <tr class="tabela_header">
                {% for i in tags %}
                    {% for k,v in i.items() %}
                        <td>{{v}}</td>
                    {% endfor %}
                {% endfor %}
            </tr>
            {% for registro in registros %} 
            <tr>
                {% for i in tags %}
                    {% for k,v in i.items() %}
                        {% if k!= 'acoes' and k!= 'imagem_url'%} 
                            <td>{{ registro[k] }}</td>
                        {% endif %}    
                    {% endfor %}
                <td><a href="/read/{{ registro['id'] }}"><img class="imagem_piloto" src=" {{ registro['imagem_url'] }}" alt="{{ registro['nome'] }}"  /></a></td>   
                {% endfor %} 
                <td>
                    <div class="botoes">
                        <a href="/read/{{ registro['id'] }}" class="botao">Visualizar</a>
                        <a href="/update/{{ registro['id'] }}" class="botao">Editar</a>
                        <a href="/delete/{{ registro['id'] }}" class="botao">Remover</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>